CONFIG_ESP32_REV_MIN_3=y

#
# SDK tool configuration
#
CONFIG_SDK_TOOLPREFIX="xtensa-esp32-elf-"
# CONFIG_SDK_TOOLCHAIN_SUPPORTS_TIME_WIDE_64_BITS is not set
# end of SDK tool configuration

#
# Audio HAL
#
CONFIG_ESP_LYRAT_V4_3_BOARD=y
